// Global Variables
:root {
  --bs-danger-dark: #8b1f2a;
  --bs-light-gray: #f5f8f2;
  --bs-primary: #4f772d;
  --bs-secondary: #e66d12;
  --bs-success: #4f772d;
  --hover-green: #3a5d25;
}

// Global Styles
html,
body {
  height: 100%;
}

body {
  background-color: var(--bs-light-gray);
  display: flex;
  flex-direction: column;
}

main {
  flex: 1;
}

main a:not(.btn),
.card a:not(.btn),
footer a {
  color: var(--bs-primary);
  text-decoration: none;
}

main a:not(.btn):hover,
.card a:not(.btn):hover,
footer a:hover {
  color: var(--bs-secondary);
  text-decoration: underline;
}

.text-primary {
  color: var(--bs-primary) !important;
}

// Footer
footer {
  background-color: var(--bs-light);
  padding: 2rem 0;

  h6 {
    font-weight: bold;
    margin-bottom: 0.75rem;
  }

  ul {
    list-style: none;
    padding: 0;
    li {
      margin-bottom: 0.5rem;
    }
  }
}

.social-icon {
  color: var(--bs-primary);
  font-size: 1.5rem;
  transition: color 0.3s ease-in-out;

  &:hover {
    color: var(--bs-secondary);
    text-decoration: none;
  }
}

#no-results {
  display: none;
}

@media screen and (max-width: 992px) {
  footer .col-md-4 {
    text-align: center !important;
    margin-top: 25px;
  }
}
