h1 {
  color: #4f772d;
}

.btn-fixed-width {
  min-width: 100px;
}


/** Dashboard Cards **/
.dashboard .card-body {
  align-items: center;
  display: flex;
  flex-direction: column;
  text-align: center;
}
