h1 {
  color: #4f772d;
}

.btn-fixed-width {
  min-width: 100px;
}


/** Dashboard Cards **/
.dashboard .card-body {
  align-items: center;
  display: flex;
  flex-direction: column;
  text-align: center;
}

/** Homepage management **/
.hero-image-container {
  max-height: 350px;
  max-width: 100%;
  overflow: hidden;
}

#current-hero-image {
  border-radius: 8px;
  height: 100%;
  object-fit: cover;
  width: 100%;
}
